@import "overrides_P5";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

#panier a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

#panier i{
    margin-right: 5%;
}

#header{
    position: sticky;
}

#productList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer{
    font-size: 1.1em;
}

footer a{
    color: #29130a;
}

.produit_achete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-group{
    display:flex;
    align-items: center;
}
