@import "overrides_P5";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

#panier a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

#panier i{
    margin-right: 3%;
}

#header{
    position: sticky;
}

#productList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer{
    font-size: 1.1em;
}

footer a{
    color: #1c0d41;
}

.produit_achete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.produit_achete a{
    text-decoration: none;
    color: black;
}

.form-group{
    display:flex;
    align-items: center;
}

.miniatures img:focus{
    border: 1px black solid;
}

.ajout-panier button{
    color:white;
}

