@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
    font-weight: normal;
}

#bloc_page{
    font-family: Lato;
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-left: -8px;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: sticky;
    border: 1px white solid;
    background-color: #131234;
    margin-top: -10px;
}

#logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img{
    height: 70px;
    width: 200px;
}

#search_bar{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#bouton_recherche{
    width: 5%;
    height: 40px;
    border-radius:0 5px 5px 0;
    font-size: 1em;
    color: black;
    margin-left: -3px;
    margin-top: 0.5px;
    border: 0.15px #F2F2F2 solid;
    background-color: rgba(255, 255, 255, 0.541);
}

#site_search{
    width: 60%;
    height: 40px;
    border-radius:5px 0 0 5px;
    border: 0.15px #F2F2F2 solid;
    font-size: 1.1em;
}

#panier{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: white;
}

#panier i{
    font-size: 1.6em;
    margin-left: -2%;
    margin-right: 2%;
}

#panier a{
    text-decoration: none;
}

#panier a:visited{
    text-decoration: none;
    color: white;
}

#section_filtres{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid black;
    padding-left: 1%;
    padding-top: 5%;
}

#filtres article{
    display: flex;
    flex-direction: column;
}

.filtre{
    display: flex;
    flex-direction: row;
}

#produits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#produits article{
    width: 33%;
}

footer{
    background-color: #131234;
    color: white;
    display:flex;
    justify-content: space-around;
}

footer ul{
    list-style-type: none;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

footer li{
    margin-bottom: 10px;
}